#Review {
    background-color: #1F1D23;
}


.carousel-inner {
    text-align: center;
    padding: 10%;

}

.carousel-item img {
   width: 10%;
    border-radius: 50%;
    margin-top: 100px;
}

.Review-text {
    color: #478851;
    font-size: 4rem;
    line-height: 1.5;
}


.carousel-icon {
    height: 4rem;
    width: 4rem;
}


.person-name {
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
    letter-spacing: 3px;
}



/* media query  */

@media screen  and   (max-width:768px) {

    .Review-text {
        color: #478851;
        font-size: 2.0rem;
        line-height: 1.5;
    }
    

}