
.navs {
 position: relative;  
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

li {
    padding: 20px !important;
}

a {
    cursor: pointer;
}

.active {
    color: #F3B315 !important;
}

.logo {
    width: 80px;
}

.nav-link {
    color: #fff;
    transition: 0.7s ease-in;
}

.nav-link:hover{
    color: #F3B315 !important ;
}