.Navs {
  position: relative;
}

.navbar {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100000;
}

li {
  padding: 20px !important;
}

a {
  cursor: pointer;
}

.navbar-nav {
  font-size: 20px;
}

.nav-link {
  color: #fff;
}

/*  back to make link toglle active  */
/* .active {
  color: #f3b315 !important;
} */

.logo {
  width: 80px;
}

.nav-link {
  color: #fff !important ;
  transition: 1.7s ease-in;
}

.nav-link:hover {
  color: #f3b315 !important ;
}

.btn-login {
  padding: 5px 25px;
  color: #fff;
  background-color: #f3b315;
  border: #f3b315;
  border-radius: 18px;
  font-size: 16px;
  /* letter-spacing: 2px; */
  text-align: center;
  font-weight: 800;
  transition: 1.2s ease-in;
}
.btn-login:hover {
  transform: scale(1.1);
}

.btn-logout {
  padding: 5px 25px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  transition: 1.7s ease-in;
}
