#chefs {
  padding: 280px 0;
  min-height: 100vh;
}

.chef-title {
  font-size: 50px;
  color: #0e100f;
  font-weight: 800;
  margin-bottom: 100px;
  letter-spacing: 3px;
}

.cheef-wrapper .card {
  max-width: 100% !important;
  margin-bottom: 80px;
  transition: 1s ease-in-out;
  border: none;
}

.cheef-wrapper .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-content {
  margin-top: 30px;
}

.card-content h5 {
  font-size: 25px;
}

.card-content span {
  font-size: 20px;
  color: #0e100f;
}

.cheef-wrapper .row {
  --bs-gutter-y: 20rem !important;
}
