

.food-img {
    width: 200px;
    height: 200px;
   border-radius: 15px;
}

.card {
    max-width: 50% !important;
    height: 350px;
    text-align: start;
   
}

.price {
    font-size: 20px;
}

.btn-card {
    /* padding: 10px; */
    background-color: #f3b315;
    border-radius: 15px;
    border: 1px solid transparent;
    padding:10px;
   font-size: 17px;
    /* min-width: 25%; */
  text-align: center;
}

a {
    text-decoration: none;
}

.icon {
    font-size: 17px;
    margin-left: 10px;
    text-align: center;
}




/* // copy of card // */

/* <div className=" my-3 " >
<img src={Images} className="card-img-top food-img img-fluid" alt="food Images" />
<div className="card-body">
  <h5 className="card-title">{Mealname}</h5>
  <p className="my-3 pb-3" > {price}$ </p> 
  <a href="#" className=" btn-card btn-primary" onClick={ () => addFood(ele)}>
    Add to list   <i class=" icon fa-sharp fa-solid fa-cart-shopping"></i>
  </a>
</div>
</div> */